<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI0MGRmTnyZbslRe8jIuXnXCcIs1K3eZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>132988179126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuri.WeatherApp</string>
	<key>PROJECT_ID</key>
	<string>weather-app-2121</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-2121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132988179126:ios:3a7e4a7b764d0bc1818c17</string>
</dict>
</plist>